@import "global";

.media-query-test {
    height: 100vh;
    color: white;
    @include mq($from: phone) {
        background-color: darkmagenta;
    }
    @include mq($to: tablet) {
        background-color: darkviolet;
    }
    @include mq(phone, tablet) {
        background-color: green;
    }
    @include mq($from: tablet, $and: '(orientation: landscape)') {
        background-color: teal;
    }
    @include mq(phablet, $media-type: screen) {
        background-color: lightslategray;
    }
    
    // Advanced use:
    $custom-breakpoints: (L: 900px, XL: 1200px);
    @include mq(L, $bp: $custom-breakpoints) {
        background-color: lightgreen;
    }
}

.list-social-text a{
    display: block;
    padding: 5px 10px;
}
.list-social-bg a{
    color: white;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
}